/node_modules
/public/storage
/public/hot
/public/css/app.css
/public/js/app.js
/storage/*.key
/vendor
/.idea
/.vscode
Homestead.json
Homestead.yaml
.env
.htaccess
.bashrc
.bash_history
.cache/
.npm/
.gitconfig
worker.log
.viminfo
